* {
    box-sizing: border-box; /* change le box model */
}
img {
    max-width: 100%; /* image responsive, largeur maxi */
    height: auto; /* hauteur "auto" */
}
.carrousel_parent-ecrans {
    display: flex; /* aligne horizontalement les enfants */
    width: 100%;/* largeur du parent */  
    max-width: 500px;
    overflow-x: scroll; /* permet de scroller horizontalement */
    scroll-behavior: smooth; /* animation de défilement */
    scroll-snap-type: x mandatory; /* permet de scroller par blocs */
}
.carrousel_ecran {
    width: 100%;  /* largeur du parent pour chaque enfant */
    flex: none; /* permet de garder toute la largeur du parent */
    scroll-snap-align: start; /* aligne les enfants par blocs */
}
.carrousel_ecran figure {
    margin: 0; /* enlève les marges par défaut */
}
.carrousel {
    position: relative;
  }
  
  .carrousel_btn {
    position: absolute;
    top: 50%;
    top: calc(
      min(500px, 100vw) / 16 * 9 / 2 + 1rem
    ); /* centre verticalement ~50% vertical */
    transform: translateY(-50%); /* methode du point mort */
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
  }
  
  .carrousel_btn-avant {
    left: 0;
  }
  
  .carrousel_btn-apres {
    right: 0;
  }
  .caroussel_liste-liens {
    display: flex; /* aligns children horizontally */
    justify-content: center; /* centers children horizontally */
    margin: 0; /* removes default margins */
    padding: 0; /* removes default padding */
    list-style: none; /* removes default bullets */
    gap: 1rem; /* adds space between children */
}
.caroussel_lien.actif {
    color: rgb (0,0,0);
    background-color: #4ca4da;
}
.caroussel_lien {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #084368;
    color: #fff;
    text-decoration: none;
}
.caroussel_lien:hover {
    background-color: #4ca4da;
}